@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@import './fonts.css';

:root {
    --primary-font: 'NunitoSans';
    --secondary-font: 'MetronicPro';
  }

body {
    font-family: 'NunitoSans';
  }

h2 {
    @apply leading-tight text-3xl font-normal text-black mb-3;
}
.newsletter_form_title{
    @apply font-title_font_Metronic text-2xl text-center text-black;
    letter-spacing: -0.01em;
}

input[type="text"]{
    @apply w-full h-9 p-0 text-gray-500 bg-white bg-none border border-gray-200 border-solid text-base;    
    text-indent: 5px;   
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
input:focus, select:focus{
    @apply border border-solid outline-none;
    border-color: #00b1ea;
}
input[type="submit"]:focus{
    @apply border-2;
}
select{
    @apply w-full h-9 block px-2 overflow-hidden whitespace-nowrap border border-gray-200 border-solid text-gray-500 leading-9; 
    text-overflow: ellipsis;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.required .field-label{
    @apply relative;
    
}
.required .field-label:after{
    @apply inline-block top-0 right-0 text-red-600;
    width: 6px;
    height: 6px;
    margin: 0 0.3em;
    content: "*";
   
}


/* font size */

.text-lead-lg {
    @apply font-nunito-sans text-size-600 font-weight-light leading-line-height-3 tracking-letter-spacing-neg-1;
  }
  .text-lead-md {
    @apply font-nunito-sans text-size-400 font-weight-light leading-line-height-3 tracking-letter-spacing-neg-1;
  }
  .text-paragraph-lg {
    @apply font-nunito-sans text-size-300 font-weight-regular leading-line-height-5 tracking-letter-spacing-normal;
  }
  .text-paragraph-md {
    @apply font-nunito-sans text-size-200 font-weight-regular leading-line-height-4 tracking-letter-spacing-normal;
  }
  .text-question-lg {
    @apply font-nunito-sans text-size-600 font-weight-bold leading-line-height-2 tracking-letter-spacing-neg-2;
  }
  .text-question-md {
    @apply font-nunito-sans text-size-500 font-weight-bold leading-line-height-2 tracking-letter-spacing-neg-2;
  }
  .text-bulleted-list-lg {
    @apply font-nunito-sans text-size-300 font-weight-regular leading-line-height-3 tracking-letter-spacing-normal;
  }
  .text-bulleted-list-md {
    @apply font-nunito-sans text-size-200 font-weight-regular leading-line-height-3 tracking-letter-spacing-normal;
  }
  .text-lg {
    @apply font-nunito-sans text-size-300 font-weight-regular leading-line-height-3 tracking-letter-spacing-normal;
  }
  .text-md {
    @apply font-nunito-sans text-size-200 font-weight-regular leading-line-height-3 tracking-letter-spacing-normal;
  }
  .text-sm {
    @apply font-nunito-sans text-size-100 font-weight-regular leading-line-height-1 tracking-letter-spacing-pos-2;
  }



/* tables */

.table-striped section {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .table-striped ul li {
    @apply mb-[15px] list-disc list-item left-2 ml-6;
    @apply text-bulleted-list-md lg:text-bulleted-list-lg;
  }
  
  .table-striped ul li:last-child {
    @apply mb-0
  }
  
  .table-striped .disclaimerCaption {
    @apply pr-4 pt-0 pb-0 pl-0 mt-2
  }
  
  .table-striped .disclaimerCaption div {
    @apply  lg:col-span-9
  }
  
  .table-striped .disclaimerCaption div div {
    @apply  mb-0
  }
  
  .table-striped .disclaimerCaption div div p {
    @apply  mb-0
  }

/* forms */
.form p.small_field{
    @apply xs:col-span-12 md:col-span-6;   
}
.value span{
    margin-right: 15px;
}
.value span label {
    @apply text-black ml-1;    
}
.form_after_content p a{
    color: rgba(96,165,250, 1);
}

/* headers /*

/* headings */
.text-headline-1 {
    @apply font-metronic-pro text-size-900 font-weight-light leading-line-height-2 tracking-letter-spacing-neg-2;
  }
  .text-headline-1-with-subtitle {
    @apply text-headline-1 font-weight-semibold;
  }
  .text-headline-2 {
    @apply font-metronic-pro text-size-800 font-weight-light leading-line-height-2 tracking-letter-spacing-neg-2;
  }
  .text-headline-2-with-subtitle {
    @apply text-headline-2 font-weight-semibold;
  }
  .text-headline-3 {
    @apply font-metronic-pro text-size-600 font-weight-regular leading-line-height-2 tracking-letter-spacing-neg-1;
  }
  .text-headline-3-with-subtitle {
    @apply text-headline-3 font-weight-semibold;
  }
  .text-headline-4 {
    @apply font-metronic-pro text-size-400 font-weight-regular leading-line-height-2 tracking-letter-spacing-normal;
  }
  .text-headline-5 {
    @apply font-metronic-pro text-size-300 font-weight-semibold leading-line-height-2 tracking-letter-spacing-normal;
  }
  .text-subtitle-lg {
    @apply font-metronic-pro text-size-700 font-weight-light leading-line-height-2 tracking-letter-spacing-neg-1;
  }
  .text-subtitle-md {
    @apply font-metronic-pro text-size-400 font-weight-light leading-line-height-2 tracking-letter-spacing-normal;
  }
  .text-subtitle-sm {
    @apply font-metronic-pro text-size-300 font-weight-light leading-line-height-2 tracking-letter-spacing-neg-1;
  }

/* error style */
span.error_text{
    @apply hidden;    
}
p.error>input, p.error>select, p.custom_error>input,p.custom_error>select{
    @apply border border-solid border-mtls-color-danger-highlight;
    
}
p.error>span.error_text, p.custom_error>span.error_text{
    @apply block;    
}
p.error>label, p.custom_error>label{    
    @apply text-mtls-color-danger-highlight !important;
}

/* links style */

.link {
	@apply text-mtls-color-text-link hover:text-mtls-color-text-active hover:bg-mtls-color-background-link-hover active:text-mtls-color-text-active focus:text-mtls-color-text-link visited:text-mtls-color-text-link-visited
}
/* buttons style */

.btn {
	@apply cursor-pointer font-content_font_Nunito font-semibold leading-none text-center rounded-md outline-none
}

.btn-primary {
	@apply text-white border-solid border-2 bg-mtls-color-text-link border-white hover:bg-mtls-color-text-active active:bg-mtls-color-text-active focus:bg-mtls-color-text-link focus:border-black
}

.btn-regular {
	@apply text-base py-3 px-8;
	line-height: 1;
}