<!DOCTYPE html>
<html lang="en">

<head>
    <base href="https://go.materialise.com">
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="%%description%%" />
    <title>%%title%%</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
        href="https://rawcdn.githack.com/MaterialiseAgency/pardot/b17081f852e8040ceb0441b3256afb3c8cd2fc33/public/style_min.css">
    <script
        src="https://rawcdn.githack.com/MaterialiseAgency/pardot/e06f58c15dfa91cbf2a90b987ccce47577dd3aef/public/translate.js"></script>
    <title>Document</title>
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-592LKS8');</script>
    <!-- End Google Tag Manager -->
    <meta property="og:image"
        content="https://go.materialise.com/l/901661/2022-05-23/cgmdr/901661/1653320782UMPtEHAN/AR_Campaign.jpg" />
</head>

<body>

    <div class="flex flex-col h-screen justify-between">
        <header>
            <div class="grid grid-cols-2 h-32">
                <div class="bg-white grid grid-cols-12">

                    <div class="col-start-4 col-span-9 max-w-lg h-auto">
                        <div class="grid h-full  max-w-max place-content-center">
                            <div>
                                <a href="materialise.com">
                                    <img alt="materialise logo" height="55"
                                        src="https://www.materialise.com/themes/itr_theme/img/materialise-logo.svg"
                                        style="width: 140px; height: 55px;" title="materialise.com" width="140"></a>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="bg-mtls-color-background-neutral-100 h-full"></div>

            </div>
        </header>
        <main class="mb-auto ">


            <div class="grid grid-cols-2">

                <div class="bg-white grid grid-cols-12">


                    <div class="col-start-4 col-span-8 max-w-lg h-auto">
                        <div>
                            <h2 class="text-xxl font-title_font_Metronic">Augmented Reality Early Access Program </h2>
                            <p>Want to explore what AR can do for your project? </p>
                            <div class="my-8">
                                <img class="w-full h-auto"
                                    src="https://go.materialise.com/l/901661/2022-05-23/cgmdr/901661/1653320782UMPtEHAN/AR_Campaign.jpg"
                                    alt="AR Early Access Campaign">
                            </div>
                            <div>
                                <p class="p-4">Augmented reality (AR) has the potential to be the next enabling
                                    technology
                                    to
                                    drive
                                    personalization in healthcare. Download the latest AR demo application from
                                    Materialise
                                    for
                                    free on <a class="text-mtls-color-text-link"
                                        href="https://www.microsoft.com/en-us/hololens/buy" target="_blank">the
                                        Microsoft Hololens Store.</a> </p>

                                <p class="p-4">With the Mimics Viewer for AR, you can:</p>

                                <ul class="list-disc p-4 ml-4">
                                    <li>Visualize 3D models in the Mimics Viewer for AR

                                    </li>
                                    <li> See the breadth of use cases available on the app </li>
                                </ul>
                                <p class="p-4">For select customers that want to gain experience with AR and share
                                    feedback,
                                    submit your
                                    application for the early access program. You’ll be able to load your own cases for
                                    educational and R&D purposes. Want to explore what AR can do for your project? </p>
                            </div>
                            <div>
                                <p class="p-4">L-102688</p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="bg-mtls-color-background-neutral-100 h-full grid grid-cols-12">
                    <div class="col-start-2 col-span-9 ">
                        <div class="max-w-lg">
                            <div>
                                <iframe allowtransparency="true" frameborder="0" height="1200px"
                                    src="https://go.materialise.com/l/901661/2022-05-23/cgp1c?crm_owner=MED Response Processing&crm_owner_type=team&crm_response=170590000&crm_campaign=f437d511-8ada-ec11-8193-02fb5d59ab06&crm_business_unit=a1122244-0ee5-e511-8115-06fd392d0287&crm_subject=registered to AR Early Access Campaign&XBU_WF_Locale=en&crm_trigger=MED_8QERFK&crm_priority=2&crm_feedbacks_question1=Do you use Mimics or Mimics Viewer&crm_feedbacks_question2=How do you plan to use the Mimics Viewer for AR&crm_feedbacks_question3=Are you willing to discuss your feedback about the app with us&crm_feedbacks_question4=Do you own a HoloLens"
                                    style="border: 0" type="text/html" width="100%">
                                </iframe>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </main>
        <footer>

            <div class="bg-mtls-color-primary-810 grid grid-cols-12 text-white py-2 text-sm">
                <div class="col-span-5 ">
                    <p class="text-center">© Copyright Materialise 2022</p>
                </div>
                <div class="flex flex-row col-span-5">
                    <p class="shrink mx-2">
                        <a target="_blank" href="https://www.materialise.com/en/cookie-statement"> Cookie Statement</a>
                    </p>
                    <p class="shrink mx-2">
                        <a target="_blank" href="https://www.materialise.com/en/terms-of-use"> Terms and Privacy
                            Policy</a>
                    </p>
                    <p class="shrink mx-2">
                        <a target="_blank" href="https://www.materialise.com/en/terms-of-use"> Legal Disclaimer</a>
                    </p>
                    <p class="shrink mx-2">
                        <a target="_blank" href="https://www.materialise.com/en/copyright-and-trademark-notice">
                            Copyright and Trademarks</a>

                    </p>
                </div>
            </div>
        </footer>
    </div>














</body>

</html>